# Python
.py[cod]
*.egg-info/
__pycache__/
.mypy_cache/
venv/
.virtualenv/
/application.cfg
/timetable.log

# Javascript
timetable/static/components/

# Database
*.db
/backup

# Misc
.DS_Store
.vscode/
